<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
</head>
<body style="margin:0; padding:0; font-family: Arial, Helvetica, sans-serif;">
    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="background-color: #f4f4f4; padding: 20px;">
        <tr>
            <td align="center">
                <table border="0" width="100%" max-width="600px" cellpadding="0" cellspacing="0" style="background-color: #0050b8; border-radius: 10px; overflow: hidden;">
                    <tr>
                        <td align="center" style="padding: 60px 20px;">
                            <img src="../imagens/logoSC.png" alt="Logo" style="width: 100px; height: auto; display: block; margin: 0 auto;">
                            <h1 style="color: #fff; font-size: 24px; margin: 20px 0;">Solicitação para fazer parte do <strong>GRUPO</strong></h1>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="color: #fff; padding: 0 30px; font-size: 16px; line-height: 1.5;">
                            Você recebeu um convite para fazer parte do grupo <strong>{group} </strong>.
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="color: #fff; padding: 0 30px; font-size: 16px; line-height: 1.5;">
                            <strong>Criado pelo professor {teacher}</strong>.
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="color: #fff; padding: 0 30px; font-size: 16px; line-height: 1.5;">
                            Para acessá-lo clique no  <strong>botão abaixo</strong> e seja redirecionado <strong>diretamente para o grupo</strong>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px;">
                            <a href="{link}" style="text-decoration: none; background-color: #024885; padding: 15px 25px; border: 1px solid ; border-radius: 5px; color: #fff; font-size: 18px; font-weight: bold; display: inline-block;">
                                ACESSE O GRUPO
                            </a>                            
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="background-color: #003d7a; padding: 20px; color: #fff; font-size: 14px; line-height: 1.5;">
                            <p style="margin: 0;">Se você não sabe o que esse email se trata, por favor o ignore.</p>
                            <p style="margin: 0;">&copy; 2024 Screen Programming. Todos os direitos reservados.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>